main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.register-container {
    max-width: 1520px;
    color: #333;
    background: #f8f8f8;
    margin: 0 auto;
}

.register-title {
    font-size: 32px;
    color: #333;
}

.field {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 760px;
    border: #E0DFDE 1px solid;
    border-radius: 5px;
    padding: 11px 10px;
    color: #333;
}

.form-control::placeholder {
    color: #E0DFDE;
}

.label {
    margin-bottom: 10px;
    display: inline-flex;
    gap: 10px;
}

.label .required-mark {
    color: white;
    background-color: red;
    padding: 0 5px;
    font-size: .85rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.file-field {
    display: flex;
    align-items: center;
    gap: 12px;
}

.file-input {
    display: none;
}

.file-label {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #4b4b4b;
    color: #4b4b4b;
    background-color: #E0DFDE;
    margin-top: 10px;
    margin-bottom: 20px;
}

.label-help {
    font-size: 0.9rem;
    color: red;
}

.season-list {
    display: flex;
    flex-wrap: wrap;
    padding: 4.5px;
    gap: 50px;
}

.season-option {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    user-select: none;
}

.season-option input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.season-check {
    width: 20px;
    height: 20px;
    border: 1px solid #4b4b4b;
    border-radius: 50%;
    background-color: white;
    box-sizing: border-box;
    transition: all .15s ease;
    position: relative;
}

.season-option input:checked + .season-check {
    background: #4b4b4b;
    border-color: #4b4b4b;
}

.season-option input:checked + .season-check::after {
    content: "✓";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-size: 14px;
    color: white;
}

textarea {
    height: 160px;
    resize: none;
}

.register-container .img-preview {
    max-width: 420px;
}

.register-container .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 0;
    margin: 0;
    line-height: 1;
    color: #4b4b4b;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(11, 8, 8, 0.1);
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

.btn-secondary {
    background-color: #E0DFDE;
}

.btn-register {
    background-color: #F5C800;
}

.error-text {
    color: red;
}